{% assign data = site.home.about %}

{% if data.enabled %}    
    <section id="contact" class="section about" style="background-color: {{data.background}};">
        <div class="container">  
            <div class="row justify-content-center align-items-center">               
                <div class="col-md-7">
                    <div class="section-title">
                        <h2>{{data.heading}}</h2>
                        <p>{{data.description}}</p>
                        
                    </div>
                    <div class="body-content">
                        
                    {{data.body}}
                    </div>
                    
                </div>

                <div class="col-md-5">
                    <div class="about-img">
                    
                      <img src="{{data.image}}" class="img-fluid"  alt="{{data.heading}}">
                    </div>
                </div>
            </div>
  
        </div>
      </section><!-- End App Features Section -->
{% endif %}
