{% assign data = site.home.contact %}

{% if data.enabled %}    
    <section id="contact" class="section contact" style="background-color: {{data.background}};">
        <div class="container">  
            <div class="row justify-content-center align-items-center">
                <div class="col-md-5">
                    <div class="section-title d-flex justify-content-center align-items-center">
                      <h2>{{data.heading}}</h2>
                      <img src="{{data.image}}" class="contact-img"  alt="{{data.heading}}">
                    </div>
                </div>
                <div class="col-md-7">
                    {{data.description}}
                    <p class="mt-5"><a href="{{ databtnUrl }}" class="btn btn-hero">{{ data.btnText }}</a></p>
                    
                    
                </div>
            </div>
  
        </div>
      </section><!-- End App Features Section -->
{% endif %}
