<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex">
    <div class="container hero-inner">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1  hero-img" data-aos="fade-up">
          <img src="{{ page.hero.image }}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column pt-5 pt-lg-0 order-2 order-lg-2" data-aos="fade-up">
          <div class="text-hero">
            <h6 class="text-uppercase">{{ page.hero.subHeading }}</h6>
            <h1>{{ page.hero.heading }}</h1>
            <p>{{ page.hero.text }}</p>
            <a href="{{ page.hero.btnUrl }}" class="btn btn-hero">{{ page.hero.btnText }}</a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->