.about{
    .section-title{
        h2{
            span{
                display: inline-block;
            }
        }
    }

    .body-content{
        h4{
            font-family: "Poppins",sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 163%;
            color: #1E1E1E;
            opacity: 0.7;
        }
        p{
            font-family: "Poppins",sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 163%;
            color: #1E1E1E;
            opacity: 0.7;
        }
    }
}